Source: vg-modules-trigger
Section: Video
Priority: optional
Maintainer:  ViGraph Support <support@vigraph.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.vigraph.com/

Package: vg-modules-trigger
Architecture: any
Depends: ${shlibs:Depends}, vg-engine
Description: ViGraph dataflow engine - core modules
 Trigger function modules for the dataflow engine.
