Source: vg-modules-control
Section: Video
Priority: optional
Maintainer:  ViGraph Support <support@vigraph.com>
Build-Depends: debhelper (>= 9)
Rules-Requires-Root: no
Standards-Version: 3.9.6
Homepage: http://www.vigraph.com/

Package: vg-modules-control
Architecture: any
Depends: ${shlibs:Depends}, vg-engine
Description: ViGraph dataflow engine - control modules
 UI control modules for the dataflow engine.
