Source: vg-modules-sensor
Section: Video
Priority: optional
Maintainer:  ViGraph Support <support@vigraph.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.vigraph.com/

Package: vg-modules-sensor
Architecture: any
Depends: ${shlibs:Depends}, vg-engine
Description: ViGraph dataflow engine - sensor modules
 Miscellaneous sensor modules for the dataflow engine.
